body {
    font-family: "Inter", sans-serif;
}

h1 {
    line-height: 1.25 !important;
}

article header {
    max-width: none !important;
}

.content-container {
    margin-left: auto;
    margin-right: auto;
}

.content-container p, .content-container li {
    font-size: 20px;
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 28px;
}

.shadow-container {
    background: #FFF;
    border: 1.25px solid #dcdfe4;
    box-shadow: 0 5px 20px 0 rgb(228 228 228 / 50%);
    border-radius: 6px;
}


.content-container h2 {
    font-size: 32px !important;
    line-height: 50px !important;
    margin-bottom: 32px;
    margin-top: 72px;
    font-weight: 700;
}

.content-container h3 {
    font-size: 26px !important;
    line-height: 38px !important;
    margin-bottom: 24px;
    font-weight: 700;
}

.content-container img {
    border-radius: 0.75rem;
    margin-bottom: 58px;
}

@media (max-width: 1140px) {
    .content-container {
        width: auto;
    }
}


